

.bolum1{
  margin: 0;
  padding: 0;
  background: url(Resimler/uzay-mor-mavi-astronomi-duvar-kagidi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;    
}


.tanıtım{
  width: 600px;
  background-color: rgb(28, 10, 93);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 6%;
  color:#fff;
  font-family: sans-serif;
  border-radius: 5%;
}

.tanıtım img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
ul{
  margin: 0;
  padding: 0;
}
.tanıtım li{
  display: inline-block;
  margin: 7px;
  list-style: none;
}
.tanıtım li a{
  font-size: 60px;
}

.navbar-nav {
    margin: auto;
   
  }
  
  .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  
  @media (max-width: 576px) {
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-nav .nav-link {
      padding: 10px 0;
      text-align: center;
    }
  }
  
   .bolum2{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    background-size: cover;
    height: 100vh;

  } 
    
  
 
 