body{
    
  background-color: #181D31;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}


.navbar-nav {
  margin: auto;
 
}

.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-link {
    padding: 10px 0;
    text-align: center;
  }
}


#sembol{
  margin-top: 10%;
  margin-left: 3%; 
  font-size:100px;
  color:#E6DDC4;
}

#sembol2,#sembol3{
  font-size:100px;
  color: #E6DDC4;
}

.egitim,.dil,.deneyim {
  color: #f4eded; /* Yazı rengi */
  font-size: 16px; /* Yazı boyutu */
  line-height: 1.5; /* Satır yüksekliği */
 
}


.egitim {
  position: absolute;
  left: 30%;
  width: 25%;
  margin-top: 12%;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  top: 0;
 
}




.dil{
  position: absolute;
  left: 70%;
  width: 25%;
  height: auto;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  top: 14%;
 
}

.deneyim{
  position: absolute;
  left: 80%;
  width: 25%;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  top: 0;

 
}

.bolum{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #678983;
  border: 5px solid rgba(207, 204, 204, 0.5);
  border-radius: 10px;
  padding: 10px;
  color: #E6DDC4;
  width: 70%;
  height: auto;
  position: relative;
  z-index: -1;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 5%;
  margin-left: 13%;
 }
 

 .bolum img{
  width: auto ;
  height: 200px;
  border-radius: 50%;
  margin-top: 2%;
}

.bilgi {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border: 5px solid #E6DDC4;
  width: 70%;
  height: auto;
  position: relative;
  margin-top: 5%;
  margin-left: 13%;
}

.bilgi > div {
  flex: 1 1 300px; /* İçerikleri aynı genişlikte tutmak için */
  margin: 10px;
  padding: 10px;
}

@media (max-width: 768px) {
  .bilgi > div {
    flex-basis: 100%; /* Ekran küçüldüğünde tek sütun haline gelmesi için */
  }
}

#dil,#egitim,#deneyim{
  margin-left: 3%;
}
.hedef{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181D31;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
  color: #E6DDC4;
  width: 70%;
  height: auto;
  position: relative;
  z-index: -1;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-top: 5%;
  margin-left: 13%;
  
  }
  
  .seminer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181D31;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
    color: #E6DDC4;
    width: 70%;
    height: auto;
    position: relative;
    z-index: -1;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin-top: 5%;
    margin-left: 13%;
  
  }



article{
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}


ul{
  margin: 0;
  padding: 0;
}
li{
  display: inline-block;
  margin: 7px;
  list-style: none;
}
li a{
  font-size: 40px;
}

footer{
  text-align: center;
  margin-top: 5%;
  color: #F0E9D2;

}
 

footer{
  text-align: center;
  color: #fff;
}



 