body{
    
    background-color: #181D31;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}


.navbar-nav {
    margin: auto;
   
  }
  
  .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
  }
  
  @media (max-width: 576px) {
    .navbar-nav {
      flex-direction: column;
    }
  
    .navbar-nav .nav-link {
      padding: 10px 0;
      text-align: center;
    }
  }
  
  

  .egitim,.dil,.deneyim {
    color: #f4eded; /* Yazı rengi */
    font-size: 16px; /* Yazı boyutu */
    line-height: 1.5; /* Satır yüksekliği */
    margin-top: 20%;
   
  }
  

  .egitim {
    position: absolute;
    left: 30%;
    width: 25%;
    margin-top: 18%;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
   
  }

  

  #sembol{
    margin-top: 10%;
    margin-left: 3%; 
    font-size:100px;
    color:#E6DDC4;
  }
  
  #sembol2,#sembol3{
    font-size:100px;
    color: #E6DDC4;
  }

  .dil{
    position: absolute;
    left: 50%;
    width: 25%;
    height: auto;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 20%;
   
  }

  .deneyim{
    position: absolute;
    left: 70%;
    width: 25%;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 20%;
   
  }

  .orta{
    width: 100%;
    height: auto;
    position: relative;
  }

  @media screen and (max-width: 600px) {
    .orta{
      margin-top: 30%;
    }
  }

  @media screen and (min-width: 601px) and (max-width: 1200px) {
    .orta{
      margin-top: 20%;
    }
  }
  

  @media screen and (min-width: 1201px) {
    .orta{
      margin-top: 2%;
    }
  }




  /* .hedef{
    width: 100%;
    height: auto;
    background-color: #E6DDC4 ;
    position: relative;
    z-index: -1;
    margin-top: 920px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;

  }
  
  .seminer{
    width: 100%;
    height: auto;
    background-color: #E6DDC4;
    position: relative;
    z-index: -1;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: #fff;

  } */

  footer{
    text-align: center;
    color: #fff;
  }
  

  .tasarim{
    position: relative;
  }

  .bolum{
  width: 24%;
  height: 1000px;
  background-color: #678983;
  text-align: center;
  margin-top: 0;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  word-wrap: break-word;      /*Taşmayı önledi*/
  position: absolute;
   }

   .bolum img{
    width: auto ;
    height: 200px;
    border-radius: 50%;
    margin-top: 37%;
  }

  .bilgi{
    position: absolute;
    margin-left: 30%;
    margin-top: 10%
  }

  article{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
  }


   



   